h1 {
  font-size: 70px;
  font-family: "Playfair Display", serif;
}

html {
  height: 100%;
}
body {
  background-image: linear-gradient(#fc5e55, #fa4083);
  font-family: "Playfair Display", serif;
  font-size: 1.125 rem;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}
.container {
  width: 1024px;

  min-height: 300px;
  margin-left: auto;
  margin-right: auto;
}

header {
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

main {
  min-height: 300px;
  display: flex;
  align-items: center;
}

.cards {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.card1 {
  background-image: url(images/image-background-card1.jpg);
  background-size: cover;
  background-position: bottom;
  min-height: 250px;
  width: 30%;
  box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.658);
}
.card2 {
  background-image: url(images/image-background-card2.jpg);
  background-size: cover;
  background-position: bottom;
  min-height: 250px;
  width: 30%;
  box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.658);
}

.card3 {
  background-image: url(images/image-background-card3.jpg);
  background-size: cover;
  background-position: bottom;
  min-height: 250px;
  width: 30%;
  box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.658);
}

.card1,
.card2,
.card3 {
  padding: 30px 30px 20px 30px;
  box-sizing: border-box;
}

.herobox1 {
  flex: 2;
  padding-right: 100px;
}

.herobox2 {
  flex: 1;
  box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.658);
}

h1 {
  font-size: 3.25rem;
  font-family: "Playfair Display", serif;
  margin-bottom: 1rem;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.541);
}

h2 {
  font-size: 1.75rem;
  font-family: "Playfair Display", serif;
}
p {
  line-height: 1.75rem;
  margin-bottom: 0.5rem;
}

.cards p {
  font-size: 0.85rem;
  line-height: 1.2rem;
  margin-top: 10px;
}

.cards i {
  font-size: 100px;

  padding-top: 20px;
}

.bookbtn {
  background-color: white;
  color: #fa4083;
  font-family: "Playfair Display", serif;
  padding: 11px 25px 11px 25px;
  border-radius: 10px 0px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.336);
}

a.bookbtn {
  display: inline-block;
  margin-top: 20px;
}
