h1 {
  font-size: 70px;
  font-family: "Playfair Display", serif;
}

html {
  background-image: linear-gradient(#fc5e55, #fa4083);
}

/* linear-gradient(#fc5e55, #fa4083); */
body {
  background-image: url(./images/image-lion-background.png);
  background-repeat: no-repeat;
  background-position: top center;
  font-family: "Playfair Display", serif;
  font-size: 1.125 rem;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}
.container {
  width: 1024px;

  min-height: 300px;
  margin-left: auto;
  margin-right: auto;
}

header {
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid white;
}

main {
  min-height: 300px;
  display: flex;
  align-items: center;
}

.main2 {
  min-height: 300px;
}

.cards {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.card1 {
  background-image: url(images/image-background-card1.jpg);
  background-size: cover;
  background-position: bottom;
  min-height: 250px;
  width: 30%;
  box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.658);
}
.card2 {
  background-image: url(images/image-background-card2.jpg);
  background-size: cover;
  background-position: bottom;
  min-height: 250px;
  width: 30%;
  box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.658);
}

.card3 {
  background-image: url(images/image-background-card3.jpg);
  background-size: cover;
  background-position: bottom;
  min-height: 250px;
  width: 30%;
  box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.658);
}

.card1,
.card2,
.card3 {
  padding: 30px 30px 20px 30px;
  box-sizing: border-box;
}

.herobox1 {
  flex: 2;
  padding-right: 100px;
}

.herobox2 {
  flex: 1;
  box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.658);
}

h1 {
  font-size: 3.25rem;
  font-family: "Playfair Display", serif;
  margin-bottom: 1rem;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.541);
}

h2 {
  font-size: 1.75rem;
  font-family: "Playfair Display", serif;
}

.customer {
  font-size: 1.75rem;
  font-family: cursive;
  text-align: center;
  margin-top: 100px;
}
p {
  line-height: 1.75rem;
  margin-bottom: 0.5rem;
}

.cards p {
  font-size: 0.85rem;
  line-height: 1.2rem;
  margin-top: 10px;
}

.cards i {
  font-size: 100px;

  padding-top: 20px;
}

.bookbtn {
  background-color: white;
  color: #fa4083;
  font-family: "Playfair Display", serif;
  padding: 11px 25px 11px 25px;
  border-radius: 10px 0px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.336);
}

.bookbtn:hover {
  background-color: black;
  color: white;
  transition-duration: 1.2s;
}
a.bookbtn {
  display: inline-block;
  margin-top: 20px;
}

/* nav a.bookbtn {
  margin-left: 20px;
  border-radius: 0px;
  background-color: black;
  color: beige;
} */

.navbutton {
  border: 1px solid white;
  padding: 10px 25px;
  font-family: "Playfair Display", serif;
  /* margin-left: 13px; */
  display: inline-block;
  position: relative;
}

.testimonials {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 100px;
}
.tbox {
  background-color: rgba(0, 0, 0, 0.253);
  width: 47%;
  padding: 50px;
  border: 1px solid white;
  box-sizing: border-box;
  margin-top: 50px;
}

.tbox p:last-of-type {
  font-style: i;
  /* font-size: 2rem;
  padding-left: 40px; */
}

.dropdown {
  display: none;
  position: absolute;
  z-index: 5;
  padding-top: 20px;
  text-align: center;
}

.navbutton:hover .dropdown {
  display: block;
}

.navbutton .dropdown {
  width: 120px;
  background-color: rgba(0, 0, 0, 0.863);
}

/* .navbutton .dropdown a {
  color: blue;
} */

.inputwrapper {
  margin-bottom: 30px;
}

input[type="text"],
input[type="email"],
textarea {
  padding: 12px 20px;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 0.85rem;
  box-sizing: border-box;
}

.newline {
  display: block;
  margin-bottom: 20px;
}

.margin-right-a {
  margin-right: 20px;
}

input[type="radio"] {
  margin-right: 10px;
}

form {
  margin: 40px 0px;
}

footer {
  background-color: #fc5d5591;
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
  /* height: 100px; */
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 50px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.712);
  /* margin-top: 250px; */
}
