@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  transition: 200ms ease-in-out;
  color: #fff;
}

html,
body {
  font-family: "Montserrat", sans-serif;
}

html {
  background-image: linear-gradient(#0e0d0d, #3598e9);
}

/* linear-gradient(#fc5e55, #fa4083); */
body {
  background-repeat: no-repeat;
  background-position: top center;
  font-size: 1.125 rem;
}

h1 {
  font-size: 70px;
  font-size: 3.25rem;
  margin-bottom: 1rem;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.541);
}

h2 {
  font-size: 1.75rem;
}
a {
  text-decoration: none;
}
p {
  line-height: 1.75rem;
  margin-bottom: 0.5rem;
}

header {
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #fff;
}

main {
  display: flex;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  margin: 40px 0;
}
.container {
  width: clamp(300px, 90%, 1024px);
  min-height: 300px;
  margin: auto;
}

.herobox1 {
  flex: 2;
  flex-basis: 450px;
  flex-grow: 1;
  margin-right: 40px;
}

.herobox2 {
  flex: 1;
  /* box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.658); */
}

.hero2-img {
  height: 250px;
}

.main2 {
  min-height: 300px;
}

.cards {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.cards p {
  font-size: 0.85rem;
  line-height: 1.2rem;
  margin-top: 10px;
}

.cards i {
  font-size: 100px;

  padding-top: 20px;
}
.sec2-card {
  background-size: cover;
  background-position: bottom;
  min-height: 250px;
  width: 30%;
  padding: 30px 30px 20px 30px;
}

.sec2-card:hover {
  transform: scale(1.1);
}

.card1 {
  background-image: url(../assets/images/image-background-card1.jpg);
}
.card2 {
  background-image: url(../assets/images/image-background-card2.jpg);
}

.card3 {
  background-image: url(../assets/images/image-background-card3.jpg);
}

.customer {
  font-size: 1.75rem;
  text-align: center;
  margin-top: 100px;
}

.bookbtn {
  background-color: #fff;
  color: #000;
  font-size: 1.4rem;
  padding: 11px 25px;
  border-radius: 10px 0px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.336);
}

.bookbtn:hover {
  background-color: black;
  color: #fff;
  transition-duration: 1.2s;
}
a.bookbtn {
  display: inline-block;
  margin-top: 20px;
}

.navbutton {
  border: 1px solid #fff;
  padding: 10px 25px;
  display: inline-block;
  position: relative;
}

.testimonials {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 100px;
}
.tbox {
  background-color: rgba(0, 0, 0, 0.253);
  width: 47%;
  padding: 50px;
  border: 1px solid #fff;
  box-sizing: border-box;
  margin-top: 50px;
}

.tbox p:last-of-type {
  font-style: i;
}

.dropdown {
  display: none;
  position: absolute;
  z-index: 10;
  padding-top: 18px;
  text-align: center;
}

.navbutton:hover .dropdown {
  display: block;
}

.navbutton .dropdown {
  width: 120px;
  background-color: rgba(63, 41, 41, 0.863);
}

.inputwrapper {
  margin-bottom: 30px;
}

input[type="text"],
input[type="email"],
textarea {
  padding: 12px 20px;
  width: 100%;
  font-size: 0.85rem;
  box-sizing: border-box;
}

.newline {
  display: block;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.margin-right-a {
  margin-right: 20px;
}

input[type="radio"] {
  margin-right: 10px;
}

form {
  margin: 40px 0px;
}

footer {
  background-color: #02183191;
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 50px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.712);
}

@media screen and (max-width: 1200px) {
  .herobox1 {
    text-align: center;
    margin: 40px 0;
  }
  .herobox2 {
    display: none;
  }
}
